<?xml version="1.0"?>

<launch>
    <include file = "$(find rover_sim)/launch/default.launch"/>
    <node pkg="rover_sim" type="gps_node" name="gps_node"/>
    <node pkg="rover_sim" type="reachdest" name="reachdest"/>
    <node pkg="rover_sim" type="velcontroller" name="velcontroller"/>


</launch>
